<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<title>Spring Boot Thymeleaf Hello World Example</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<style>
a:link, a:visited {

  color: white;
  padding: 10px 15px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}


</style>

</head>

<body>







	<div class="starter-template">
		<h1>Spring Boot Web Thymeleaf Student List Iteration</h1>

		<br>

		<button type="button" class="btn btn-success"><a style="text-decoration:none" th:href="@{/addemployee}">Add Employee</a></button>

		<br><br>

		<table class="table table-striped table-dark" >
			<thead>
				<tr>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Email</th>
					<th scope="col">links</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="emp: ${thelist}">
					<td th:text="${emp.first_name}" />
					<td th:text="${emp.last_name}" />
					<td th:text="${emp.email}" />
					<td><button type="button" class="btn btn-info"><a style="text-decoration:none"  th:href="@{'/updateemployee/' + ${emp.id}}" >Edit</button>
						<button type="button" class="btn btn-info" ><a style="text-decoration:none"  th:href="@{'/deleteemployee/' + ${emp.id}}" >Delete</button></td>
						<!-- <td><a th:href="@{'/appel/edit/' + ${appel.id}}">edit</a></td> -->
				</tr>
			</tbody>
		</table>
	</div>


</body>
</html>