<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<title>Spring Boot Thymeleaf Exception Page</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<style>
a:link, a:visited {
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
</style>

</head>

<body>
	<h1>No such Employee exits with such id</h1>

	<button type="button" class="btn btn-primary">
		<a style="text-decoration: none" th:href="@{/}">Back to the List</a>
	</button>
</body>
</html>